table{ width: 1000px; height: 500px; border-collapse: collapse; border-width: 4px; border-style: double; border-color: black; font-family: Georgia, serif;}

h1{text-align: center; text-decoration-line: underline; font-family: Georgia, serif;}

body{background-color: rgb(193, 207, 233);} 

footer{font-family: Cambria, serif; font-style: italic;}

tr:hover{ background-color: rgb(163, 181, 216);}