body{background-color: rgb(241, 181, 171);}

h1{color: rgb(235, 63, 40);}

h1{font-size: 50px;}

h2{color: rgb(235, 63, 45);} h2{text-decoration: underline;}

*{font-size: 25px;}

h1{text-decoration: underline;}

*{font-family: Georgia, serif;} 

a{color: rgb(235, 63, 45);}

p{color: rgb(235, 63, 46);}

li{color: rgb(235, 63, 46);}

